/* 头部样式 */
header {
    background: linear-gradient(270deg, #00eaff, #1100ff, #ff0000, #ff00c8);
    background-size: 300% 300%;
    animation: gradientAnimation 10s ease infinite;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 10px 0;
    z-index: 1000;
}

/* 导航容器 */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

/* Logo */
.logo {
    width: 70px;
}

/* 隐藏默认的复选框 */
.menu-checkbox {
    display: none;
}

/* 汉堡菜单图标（默认隐藏） */
.menu-icon {
    font-size: 24px;
    cursor: pointer;
    display: none;
    color: white;
}

/* 导航菜单 */
.nav-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    padding: 10px;
}

.nav-menu a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/* 手机端样式 */
@media (max-width: 768px) {

    /* 显示汉堡菜单 */
    .menu-icon {
        display: block;
    }

    /* 让菜单默认隐藏 */
    .nav-menu {
        display: block;
        position: absolute;
        width: 30%;
        right: 0;
        top: 60px;
        background: linear-gradient(270deg, #dcfcffb6, #eeedfff4, #ffd1d1f1, #ffe7fa);
        background-size: 300% 300%;
        animation: gradientAnimation 10s ease infinite;
        text-align: center;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
        box-shadow: 0px 5px 100px 9px rgba(144, 138, 138, 0.741);
        border-radius: 5%;

    }

    .nav-menu li {
        padding: 15px;
    }

    .nav-menu a {
        text-decoration: none;
        color: rgb(0, 0, 0);
    }

    /* 当复选框被勾选时，展开菜单 */
    .menu-checkbox:checked~.nav-menu {
        max-height: 500px;
    }
}